label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #f00;
}
#logouticon{
    display: none;
}
.page-header {
    display: flex;
    justify-content: space-between;
}

#usericon, #logouticon{
    margin-top: 15%;
    cursor: pointer;
}
#down, #r-down{
    display: none;
}
#up, #down, #r-up, #r-down{
    float: right;
}
#img1 > label{
    margin-left: 60%;
}
#img2 > label{
    margin-left: 25%;
}
#vote{
    margin-left: 48%;
}
#b-title, .panel-heading{
    font-size: xx-large;
}
.description, .panel-body{
    font-size: x-large;
}
